/* ==========================General ==========================*/
body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
  color: #212121;
  font-weight: 400;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  padding: 0;
}
img {
  display: block;
}
/*========================== header ==========================*/

.contact {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14285714;
  border: 1px solid rgba(236, 236, 236, 1);
}
.contact-adress {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14285714;
}
.banner {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19230769;
  text-decoration: none;
  color: #212121;
  padding-top: 24px;
}
.banner-dark {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19230769;
  text-decoration: none;
  color: #212121;
}

/*========================== main ==========================*/

.titlecontainer {
  width: 654px;
  height: 120px;
  margin: auto;
  margin-bottom: 15px;
  padding-top: 200px;
}
.title {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/imgbgc.jpg);
  height: 600px;
}
#title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.asset {
  width: 70px;
  height: 70px;
}
.container-asset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.headclass {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14285714;
  text-transform: uppercase;
  width: 270px;
  height: 16px;
}
.description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71428571;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 94px;
  width: 270px;
  height: 75px;
}
.features {
  display: flex;
  margin-top: 94px;
  justify-content: space-between;
}
.portfolio {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}
.midhead {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16666667;
  text-align: center;
  margin-bottom: 50px;
}
#team {
  padding-top: 94px;
}
#customerstitle {
  margin-top: 94px;
  margin-bottom: 50px;
}
.customers-icon {
  fill: #afb1b8;
  border: none;
}
.customers-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customers-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-bottom: 94px;
}
.customers-list-item:hover,
.customers-list-item:hover svg,
.customers-list-item:focus {
  fill: #2196f3;
  cursor: pointer;
}

.customers-list-item:hover {
  border: 1px solid #2196f3;
}
.customers-list-link {
  border: none;
}
.crew {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.crew-item {
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 270px;
  margin-top: 28px;
}
.social-list-item {
  display: flex;
  align-items: center;
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
}
.social-list-link:hover,
.social-list-link:focus,
.social-list-link:hover svg {
  fill: rgba(255, 255, 255, 1);
  background-color: #2196f3;
}
.social-icon:hover,
.social-icon:focus {
  fill: rgba(255, 255, 255, 1);
}
.back {
  background-color: #f5f4fa;
}
.name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  background-color: #ffffff;
  margin-top: 30px;
}
.job {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  background-color: #ffffff;
}
.card {
  width: 270px;
  height: 428px;
  background-color: #ffffff;
  text-align: center;
  margin: 0px;
  margin-bottom: 94px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/*========================== footer ==========================*/

.bottom {
  display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.highlightbottom {
  color: #ffffff;
}
.highlightbottom:visited {
  color: #ffffff;
}
.highlightbottom:hover,
.highlightbottom:focus {
  color: #2196f3;
}
.container .example {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  justify-content: space-between;
}
.container-contact {
  display: flex;
  flex-direction: column;
  width: 246px;
  height: 81px;
}
.example-img {
  margin: 0px;
  border: 1px solid rgba(238, 238, 238, 1);
}
.example-img:hover,
.example-img:hover figure 
.example-img {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.example:last-child {
  margin-bottom: 94px;
}
.social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.container-social {
  display: flex;
  flex-wrap: wrap;
  width: 206px;
  height: 80px;
  padding-top: 12px;
}
.bottom > .containerflex {
  justify-content: flex-start;
  gap: 70px;
  align-items: center;
  padding-bottom: 60px;
}
.join {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.social-icon-dark {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}
.social-list-dark {
  display: flex;
  gap: 10px;
  width: 270px;
  margin-top: 28px;
}
.social-list-link-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social-list-link-dark:hover,
.social-list-link-dark:focus,
.social-list-link-dark:hover svg {
  fill: rgba(255, 255, 255, 1);
  background-color: #2196f3;
}
.social-icon-dark:hover,
.social-icon-dark:focus {
  fill: rgba(255, 255, 255, 1);
}
/*========================== component ==========================*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.menuport {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 94px;
}
.menuadress:first-child {
  margin-left: 93px;
}
.menuadress:last-child {
  margin-left: 50px;
}
.menu {
  display: flex;
  align-items: center;
}
.menuitem:not(:first-child) {
  margin-left: 46px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.menuitem {
  padding-top: 32px;
  padding-bottom: 32px;
}
.containerflex {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.highlight {
  color: #2196f3;
}
.highlightbanner {
  color: #ffffff;
}
.highlightbanner:visited {
  color: #ffffff;
}
.projectex {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  margin-left: 24px;
  margin-top: 20px;
}
.info {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  text-align: left;
  margin-left: 24px;
}
.highlightbottom {
  color: #ffffff;
}
.highlightbottom:visited {
  color: #ffffff;
}
.highlightbottom:hover,
.highlightbottom:focus {
  color: #2196f3;
}
.adress:visited {
  color: #757575;
}
.adress:hover,
.adress:focus {
  color: #2196f3;

  fill: #2196f3;
}
.mail-icon {
  margin-right: 10px;
}
.phone-icon {
  margin-right: 10px;
}
.adress {
  color: #757575;
  text-decoration: none;
}

.link:visited {
  color: #212121;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
.link {
  text-decoration: none;
}
/*========================== buttons ==========================*/
.button:hover,
.button:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.button {
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border: 0px;
  background-color: rgba(245, 244, 250, 1);
}
.button.menuport-list {
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
}
#orderbutton:hover,
#orderbutton:focus {
  background-color: #2196f3;
  color: #ffffff;
}
#orderbutton {
  cursor: pointer;
  background: #2196f3;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  width: 200px;
  height: 50px;
  margin: auto;
  border: none;
}
